   {
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;}
    body
    {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color: antiquewhite;
    background-size:cover;
    background-position: center;
    }
    .logo{
        top:unset;
        left: unset;
    }

    .signin{
        align-self: center;
        text-align: center;
        align-items: center;
        align-items: center;
    }
    
    input
    {
    
    display:block;
    width:350px;
    height:40px;
    margin:20px;
    border:none;
    outline:none;
    font-size:20px;
    border-bottom:1px solid black;
    background:transparent;
    }
  
    button
    {
    width:350px;
    height:40px;
    font-size:20px;
    background-color: #e8855b;
    color:white;
    margin-top:20px;
    cursor: pointer;
    }
    button:hover{
        background-color:  #cf4f18;
        transition: 0.4s;
    }
    h1{
        align-items: center;
        margin-bottom:30px;
    }
    ::placeholder{
        align-items: center;
        align-content: center;
        align-self: center;
        text-align: center;
    color: rgba(0,0,0,0.5);
    }
